@{
  Layout = "_Layout";
}
@using DoctorOffice.Models;
<div class="container">
  <div class="jumbotron">
    <h3>Patients</h3>
  </div>
  
  @if(Model.Count == 0)
  {
    <h6>There are no patients at this time.</h6>
  }
  <ol>
    @foreach(Patient patient in Model)
    {
      <li>@Html.ActionLink(patient.Name,"Details", new {id = patient.PatientId})</li>
    }
  </ol>

  <p>@Html.ActionLink("Create Patient","Create")</p>
  <p>@Html.ActionLink("Home","Index","Home")</p>



</div>